#mdlSelection li {
  color: var(--text-color);
  background-color: var(--background-color-standout);
}

#mdlSelection li:nth-child(odd) {
  background: var(--background-color-standout-2);
}

#mdlSelection li:hover {
  transform: scale(1.01);
}

#mdlSelection .transparentBg {
  background-color: transparent;
}

#mdlSelection #mdlList {
  position: relative;
  text-indent: 6px;
  font-size: medium;
  margin-left: 4%;
  width: 92%;
  list-style: none;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  z-index: -1;
  overflow: hidden;
}

#mdlSelection #mdlSearch {
  background-color: var(--background-color-standout-2);
  color: var(--text-color);
  margin-left: 4.3%;
  margin-top: 1.5%;
  width: 60%;
  border-radius: 5px;
  font-size: 150%;
  position: fixed;
}

#mdlSelection #mdlSearch::placeholder {
  color: var(--placeholder-color);
}

#mdlSelection #mdlSelectionClose {
  position: fixed;
  right: 16%;
  margin-top: 1.5%;
}