.default-colors {
  /* general colors */
  --text-color: #000;
  --text-color-standout: #fff;
  --background-color: #ddd;
  --background-color-standout: #cccccc;
  --background-color-standout-2: #adadad;
  --mod-icon-background: #000;
  --border-color: #fff;
  --placeholder-color: #272727;
  --placeholder-hover-color: #070707;

  /* specific colors */
  --color-workspace: #fff;
  --tool-box-seperator-color: var(--border-color);
  --search-text-color: var(--text-color-standout);
  --search-background-color: #1f1f1f91;
  --warn-text-color: #ff6464;
}

/* blockly colors */
.blocklyToolboxDiv {
  background-color: var(--background-color);
  color: var(--text-color);
}

.blocklyFlyoutBackground {
  fill: var(--background-color);
  fill-opacity: 0.7;
}

.blocklyMainBackground {
  stroke: none;
  background-color: var(--color-workspace);
}

.blocklyToolboxCategory:hover {
  background-color: var(--background-color-standout);
}