body {
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--color-workspace);
}

[hidden] {
  display: none !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contentListItem {
  display: inline-flex;
  cursor: pointer;
}

#blocklyDiv {
  margin-top: 10px;
  z-index: 1;
}

.toolBoxSeperator {
  height: 0;
  border-bottom-color: var(--tool-box-seperator-color);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin: 5px 0;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.popup {
  background: var(--background-color);
  position: absolute;
  left: 15%;
  top: 15%;
  width: 70%;
  height: 70%;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  overflow: scroll;
  z-index: 10000000;
}

.closePopup {
  position: fixed;
  right: 16%;
  margin-top: 1.5%;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: left;
}

.tooltip .top {
  padding: 0 4px;
  color: var(--text-color);
  background-color: var(--background-color);
  position: absolute;
  z-index: 100;
  margin-top: 0;
  font-size: small;
  border-radius: 4px;
  visibility: hidden;
}

.tooltip:hover .top {
  animation: wait-visible 1s infinite 1s;
}

@keyframes wait-visible {
  100% {
    visibility: visible;
  }
}

#packInformation {
  position: absolute;
  top: 6vh;
  left: 125vh;

}

#packInformation #heading-mod-info {
  font-size: 15px;
  margin-left: -0.5vh;
}

#packInformation #icon-container {
  margin-left: 2.5vh;
  margin-top: -1px;
  background-color: var(--mod-icon-background);
  border-radius: 5px;
  overflow: hidden;
}

#packInformation #icon-path:hover { 
  /* 
  This is seperate from the container
  so the icon doesn't change it's size
  in the layout.
  */
  transform: scale(1.1);
}

#packInformation .input {
  margin: 4px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  margin-top: 2px;
  color: var(--text-color);
  transition: border-color 0.5s, color 0.5s;
}

#packInformation .input::placeholder {
  color: var(--placeholder-color);
}

#packInformation .input:hover {
  color: aqua;
  background-color: var(--background-color-standout);
}

#packInformation .input:hover::placeholder {
  color: var(--placeholder-hover-color);
  scale: 1.04;
}

#packInformation #pkg-title-warn {
  font-size: 13px;
  color: var(--warn-text-color);
}

#packInformation .tooltip .top {
  bottom: -15px;
  left: 35%;
}