body {
    overflow: hidden;
}

.toolBoxSeperator {
    height: 0;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 5px 0; 
}

.transparentBg {
    background-color: transparent;
}

#blocklyDiv {
    margin-top: 10px;
    z-index: 1;
}
#packInforamtion {
    position: absolute;
    top: 6vh;
    left: 125vh;

}
#heading-mod-info { 
    font-size: 13px; 
    font-weight: bold;
    margin-left: -0.5vh;
}
#mdlList {
    position: relative;
    text-indent: 6px;
    font-size: medium;
    margin-left: 4% ;
    width: 92%;
    list-style: none;
    border: 2px solid rgba(204, 204, 204, 0.456);
    border-radius: 5px;
    z-index: -1;
    overflow: hidden;
}
#mdlSearch {
    margin-left: 4.3%;
    margin-top: 1.5%;
    width: 60%;
    background-color: #1f1f1fd2;
    color: white;
    border: 2px solid rgba(204, 204, 204, 0.456);
    border-radius: 5px;
    font-size: 150%;
    position: fixed;
}
#mdlSelectionClose {
    position: fixed;
    right: 16%;
    margin-top: 1.5%;
}
li {
    color: white;
    background-color: rgb(42, 42, 42);
}
li:nth-child(odd) { 
    background: rgb(24, 24, 24);
}
li:hover {
    transform: scale(1.01);
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.input {
    margin: 4px;
    background: #0a0a0a;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    color: #898989;
    transition: border-color 0.5s, color 0.5s;
}
.input::placeholder {
    color: #9c9c9c;
}
.input:hover::placeholder{
    color: #b5b5b5;
    scale: 1.02;
} 

.popup {
    background: rgba(34, 34, 34, 0.729);
    position: absolute;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    overflow: scroll;
    z-index: 10000000;
}

#pkg-title-warn {
    font-size: 13px;
    color: #ff6464;
}


