body {
    overflow: hidden;
}

.toolBoxSeperator {
    height: 0;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 5px 0; 
}

.transparentBg {
    background-color: transparent;
}
#blocklyDiv {
    z-index: 1;
}
#packagingDiv {
    position: absolute;
    right: 5vh;
    top: 5vh;
    size: 50px;
    z-index: 1000000;

    background-color: #1F1F1F;
    border: #1F1F1F;
    border-radius: 10px;
}

#packInforamtion {
    position: absolute;
    right: 5vh;
    top: 20vh;
    left: 125vh;
    border-radius: 10px;
    background-color:#1F1F1F;
    size: 50px;
    z-index: 1000000;
}

#saving {
    position: absolute;
    right: 20vh;
    top: 3vh;
    margin:0;
    border-radius: 10px;
    z-index: 1000000;
    
}

#loading {
    position: absolute;
    right: 36vh;
    top: 3vh;
    margin:0;
    border-radius: 10px;
    z-index: 1000000;
    
}

#saveBtn {
    background-color: #3F3F3F;
    border-radius: 20px;
    box-shadow: 3px;
    border: 2px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#entSelection {
    z-index: 1000000;
}
#entList {
    text-indent: 6px;
    font-size: medium;
    margin-left: 4% ;
    width: 92%;
    list-style: none;
    border: 2px solid rgba(204, 204, 204, 0.456);
    border-radius: 5px;
}
#entSearch {
    margin-left: 19%;
    margin-top: 2%;
    scale: 150%;
    background-color: #1f1f1fd2;
    border: 2px solid rgba(204, 204, 204, 0.456);
    border-radius: 5px;
    font-size: 102%;
}
.listElement {
    color: white;
    background-color: rgb(33, 33, 33);
}
.listElement:nth-child(odd) { 
    background: rgb(24, 24, 24);
}
.listElement:hover { /*todo*/
    transform: scale(1.05);
}

.center {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.input {
    margin: 4px;
    background: #242424;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
    color: white;
    transition: border-color 0.5s, color 0.5s;
}

.popup {
    background: rgba(34, 34, 34, 0.729);
    pointer-events: none;
    position: fixed;
    left: 15%;
    top: 15%;
    width: 70%;
    height: 70%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    z-index: 100000;
}
